@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.body{
  position: relative;
  width: 100%;
  height: 3000px;
  /* background: url(background.jpg) */
}

.frame1{
  position: absolute;
  width: 100%;
  height: 213.4px;
  top: -0.27px;
  /* background: url(frame1-back.jpg); */
}
.text-frame1{
  font-family: 'Permanent Marker', cursive;
  /* BALL TRACKING AND DRS USER INTERFACE */


position: absolute;
right: 177px;
top: 68px;
font-weight: 400;
font-size: 40px;
line-height: 128px;


color: #2b4352;
}

.text-frame1 span{
  color: rgb(156, 105, 105)
}

.text-frame1 a{
  color: #ffffff;
}

.frame2{
  height: 2350px;
  padding-top: 213.4px;
}

.d3-screen{
  height: 450px;
  background: url(LBW.gif);
  margin-top: 25px;
  font-family: 'Permanent Marker';
  color: #2b4352;
  font-size: 30px;
}

.text{
  font-family: 'Permanent Marker';
  color: #2b4352;
  font-size: 30px;
  padding-top: 10px;
}
.b-detect{
  height: 450px;
 
  font-family: 'Permanent Marker';
  color: #2b4352;
  font-size: 30px;
  background-color: #52ade6;
}

button{
  height: 70px;
  width: 250px;
  background-color: #2b4352;
  font-family: 'Permanent Marker';
  font-size: 25px;
  margin-left: 1000px;
  margin-top: 25px;
}

button:hover{
  background-color: rgb(0, 0, 0);
  color: #2b4352;
}

.drs pitching{
  font-family: 'Permanent Marker';
  margin-left: 4px;
  font-size: 34px;
}

.drs impact{
  font-family: 'Permanent Marker';
  font-size: 34px;
  margin-left: 420px;
}

.drs wickets{
  font-family: 'Permanent Marker';
  font-size: 34px;
  margin-left: 420px;
}

.circle{
  height: 39px;
  width: 201px;
  background-color: #ff0000;
  color: black;
  margin-left: 55px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 35px;
  margin-left: 60px;
}
.circle1{
  height: 65px;
  width: 65px;
  background-color: #00ff9d;
  color: black;
  margin-left: 55px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 35px;
  margin-left: 60px;
}
.circle2{
  height: 65px;
  width: 65px;
  background-color: #00ff9d;
  color: black;
  margin-left: 55px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 35px;
  margin-left: 500px;
}
.circle3{
  height: 65px;
  width: 65px;
  background-color: #00ff9d;
  color: black;
  margin-left: 55px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 35px;
  margin-left: 500px;
}



.decision decision{
  font-family: 'Permanent Marker';
  font-size: 54px;
}



.line{
  width: 85%;
  height: 5px;
  color: #2b4352;
  background-color: #2b4352;
}